# --- CONFIGURACIÓN DE BASE DE DATOS ---
DB_HOST=localhost
DB_NAME=swimming_pool
DB_USER=root
DB_PASS=
DB_PORT=3306

# --- CONFIGURACIÓN DE APP ---
BASE_URL=http://localhost/gestion-natacion/public

# --- CONFIGURACIÓN DE CORREO (PHPMailer) ---
# Si usas Gmail, el host es smtp.gmail.com
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu-correo@gmail.com
MAIL_PASSWORD="tu-app-password-de-16-digitos"
MAIL_FROM=tu-correo@gmail.com
MAIL_FROM_NAME=

